<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

</head>
<body>
    <div id="app">
        <button @mouseover="saludar">hover</button>
        <button @mouseover="saludar2(nombre)">hover</button>
        <p @mousemove="mover">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi nam incidunt voluptatum veritatis ea velit consequatur sequi magnam labore natus.</p>
        <p>resultado: x={{x}} | y={{y}} </p>
        <input type="text" v-model='nuevaFruta' @keyup="agregar"><!-- para la especificar el teclado se pone un punto despues del keyup y luego el teclado-->
        <button @click='agregar'>agregar</button>
        <ul>
            <li v-for="item in frutas">
                {{item.nombre}} - {{item.cantidad}}
            </li>
        </ul>
    </div>
    <script src="eventos.js"></script>
</body>
</html>